<div
  class="d-flex flex-column flex-nowrap sticky-top px-3 bg-secondary-subtle"
  style="height: 100dvh"
>
  <ul
    class="nav nav-pills nav-flush flex-column flex-nowrap mb-auto mx-auto text-center align-items-start"
  >
    <li class="nav-item">
      <a
        href="/play"
        class="nav-link py-3 fs-5 fw-bold text-body d-flex align-items-center icon-link-hover"
        title=""
      >
        <i class="bi-play-fill me-2 fs-4"></i>
        <span>Play</span>
      </a>
    </li>
    <li>
      <a
        href="/social"
        class="nav-link py-3 fs-5 fw-bold text-body d-flex align-items-center"
        title=""
      >
        <i class="bi-people-fill me-2 fs-4"></i>
        Social
      </a>
    </li>
    <li>
      <a
        href="/stats"
        class="nav-link py-3 fs-5 fw-bold text-body d-flex align-items-center"
        title=""
      >
        <i class="bi-bar-chart-fill me-2 fs-4"></i>
        Stats
      </a>
    </li>
  </ul>
</div>
